.navbar{
    padding: 0px 50px;
}

.text{
    color:black;
    text-decoration: none;
    margin-left: 361px;
}

.container-fluid{
    width: 100%;
    height: 100%;
    margin-top: 120px;
    font-weight: 600;

}

#NewPassword #RePassword{
    padding: 8px;
    margin-right: 86px;
}

.errorredbox{
    border: 1px solid red;
}


